@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap|family=Oswald:100,200,300,400,500,600,700');

:root{
    background-color:#FBEAFF;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Bebas Neue" , cursive;
}


/*special paddings */

.separator{
    width:70px;
    border:2px solid #845EC2;
    margin:auto;
}


/* header  */
.nav-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    animation-name:hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}


/* animation effect from previous project FLY BODY */
@keyframes hero-zoom{
    from{
      transform: scale(0.5);
    }
    to{
      transform: scale(1);
    }
  }

#nav{
    padding:3rem;
}

#logo{
    width:15%;
    padding: 1rem;
}

.btn-nav{
    font-size:1.3rem;
    text-align: center;
    padding: 0px 20px;
    
}

.navBar a{
    color:#845EC2;
    text-decoration:none ;

}

.btn-nav:hover{
    cursor:pointer;
    box-shadow:0 0.2rem 1.2rem 0 rgba(197, 122, 231, 0.6);
    color: #845EC2;
    padding: 10px;
    border-radius: 4px;

}

/* jumbotron */

.jumbotron{
    background-color:transparent;
}

.header-text{
    letter-spacing: 2rem;
    line-height: 1rem;
    text-align: center;
    color: #845EC2;
    font-size: 5rem;
    padding: 2rem;

    animation-name: stretch;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;

}

@keyframes stretch{
    from{
      transform: scale(0.6);
    }
    to{
      transform: scale(1);
    }
  }

.header-container{
    width:100%;
    background: url(../images/hero-image.jpg) no-repeat center center / cover fixed;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.tag-line{
    color: #B39CD0;
    line-height: 2rem;
    text-align: center;
    font-style: italic;
    font-family: "Oswald", sans-serif;
    padding: 1rem;
    margin-bottom: 0 !important;
    font-size: 1.5rem;

    
    animation-name: stretch;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;

}

.tag-line-text{
    color:#B39CD0;
    text-align: center;
    font-family: "Oswald", sans-serif;

    animation-name:hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;

}

/* about us page */

.center-about-heading{
    text-align: center;
}

.about-us-text{
    font-family: "oswald",sans-serif;
    line-height: 2rem;
    letter-spacing: 3px;
    color:#845EC2;
    padding:30px;

}

.about-us-header {
    color:#00C9A7;
    letter-spacing: 1rem;
    line-height: 1rem;
    padding:30px 0 25px 0;
    margin-top: 30px
}
/*video */
.video-container{
    padding: 30px;
}

.video-content-text-container{
    text-align: center;
    margin:10px;
}

.video-content-text{
    color:#845EC2;
    font-family: "oswald",sans-serif;
    letter-spacing: 3px;
    padding:30px 30px 10px 30px;
}

.general-btn{
    color:white;
    background-color: #845EC2;
    border-radius: 50px;
}

.general-btn:hover{
    cursor:pointer;
    box-shadow:0 0 1rem 0 rgba(197, 122, 231, 0.6);
    color:white;
    padding: 20px;
}

.video-content{
    width: 900px;
    display: block;
    margin: 0 auto;
    padding-bottom:20px; 
}

.banner-container{
    width:100%;
    background: url(../images/consent.jpeg) no-repeat center center / cover fixed;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding:20px ;
}

/* Our motto */

.what-we-do{
    font-family: "Oswald",sans-serif;
    line-height: 3rem;
    letter-spacing: 3px;
    color:#845EC2;
    padding:30px;
    text-align: center;
}


/*Products */

.product-header{
    color:#00C9A7;
    letter-spacing: 1rem;
    line-height: 1rem;
    padding:30px 0 25px 0;
    margin-top: 30px
}

.products{
    padding-top: 2rem;
}

.card{
    border:0;
    width: 18rem;
}

.card-title{
    font-weight: bold;
}


.lowercase{
    text-transform: lowercase;
}


.card-body{
    color:#00C9A7;
    letter-spacing: 3px;
}


.card-body-container div{ 
    margin:0 auto 1em;
}


/*Quiz */

.quiz-text{
    color:#845EC2;
    text-align: center;
    letter-spacing: 3px;
    padding: 3px;
    line-height: 3rem;
}

.quiz-container{
    padding: 50px;
    
}

.btn-quiz{
    padding:5px;
    color: white;
    background-color: #00C9A7;
    letter-spacing: 3px;
    border-radius: 20px;
    border: #00C9A7;
    font-size: 1.5rem;
}

.btn-quiz a{
    text-decoration: none;
    color:white;

}
.quiz-text button a:hover{
    cursor:pointer;
    box-shadow:0 0.2rem 1.5rem 0 rgba(16, 216, 106, 0.6);
    color:white;
    padding: 15px;
}

/*footer */

.social-links a{
    font-size: 20px ;
}

.social-links a i {
    margin-left: 20px;
    color: #00C9A7;
    transition:all 0.35s ease-in ;
     -webkit-transition:all 0.35s ease-in;
     -moz-transition:all 0.35s ease-in;
     -o-transition:all 0.35s ease-in;
}

.footer-wrapper{
    margin-top: 15px;
}

.footer-causes{
    text-align: right;
    font-size: 19px ;
}
.footer-causes .list-inline-item a{
    margin-right: 20px;
    color: #00C9A7;
    transition:all 0.35s ease-in ;
     -webkit-transition:all 0.35s ease-in;
     -moz-transition:all 0.35s ease-in;
     -o-transition:all 0.35s ease-in;
}

.footer-text{
    font-family:"Oswald", sans-serif;
    font-size: 14px;
    color: #00C9A7;
    text-align: center;
    text-transform: uppercase;
}

/* start.html */

.quiz-confirmation-container{
    display: flex;
    justify-content: center;
    margin:0 auto ;
    padding: 3rem;
    background-color:#FBEAFF; 
}

.quiz-confirmation{
    padding: 1rem;
}

.quiz-picture{
    width:20rem;
    margin:0 auto;
    padding-bottom: 2rem;
    padding-top:4rem;
    
}

@media only screen and (max-width:1024px){
    #logo{
        padding:1rem;
    }
    
    .center-about-heading h2{
        font-size: 3rem;
    }
    
    .video-content{
        width: 600px;
    }
    
}

@media only screen and (max-width:812px){

    .btn-nav{
        font-size: 1rem;
    
    }
    
    .list-inline-item a{
        font-size: 17px ;
    }
    
    #nav{
        padding: 1rem 0;
        text-align:center;
    }
    
    .social-links a i {
        margin-left: 10px;
    }
    
    .social-media{
        padding-top:1rem;
    }
    
        .footer-causes{
        text-align: center;
    }
    
    .center-about-heading h2{
        font-size: 1.5rem;
    }

}
@media only screen and (max-width:320px){
    .list-inline-item a{
        font-size: 14px ;
    }
    
    .center-about-heading h2{
        font-size: 1.5rem;
    }
    
    .about-us-text{
        font-size:0.9rem;
    }
    
    .video-content{
        width: 250px;
    }
    
    .read-more .btn {
        font-size:0.9rem;
        
    }
    .card{
        width: 16rem;
}
}